<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>ToDo</title>
		<link rel="stylesheet" type="text/css" href="css/estilos.css">

		<script type="text/javascript" src="dependencies/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="dependencies/neon.js"></script>
		<script type="text/javascript" src="dependencies/CustomEvent.js"></script>
		<script type="text/javascript" src="dependencies/CustomEventSupport.js"></script>
		<script type="text/javascript" src="socket.io/socket.io.js"></script>

		<script type="text/javascript" src="dependencies/underscore-min.js"></script>
		<script type="text/javascript" src="dependencies/backbone.js"></script>

		<script type="text/javascript" src="lib/PonyExpress.js"></script>

		<script type="text/javascript" src="js/demo.js"></script>
	</head>
	<body>
		<h1>ToDo</h1>
		<div id="Tasks"></div>
		<script type="text/template" id="AgregarTask">
			<p class="write"> ✎ </p> 
			<input class="inputext" id="user" type="text"/>
			<input class="inputext" id="text"></input>
			<button id="submit">Enviar</button>
			<div class="TaskIncomplete"/>
			<div class="TaskComplete"/>
		</script>
		<script type="text/template" id="ToDoList-template">
			<div class="IndTask">
				<label class="highlight">✓</label>
				<div class="Task">
					<h3><%= user %></h3>
					<p><%= text %></p></div>
				<label class="remove">✗</label>
				</div>
			</div>
		</script>
		<nav>
			<p id="all">All</p>
			<p id="complete">Complete</p>
			<p id="incomplete">Incomplete</p>
		</nav>
	</body>
</html>